*.aux
*.bbl
*.blg
*.log
*.out
latex.pdf
*.synctex.gz
*.toc
.idea/
.ide/
.gradle/
*.kate-swp
.directory
_minted*/
*.nav
*.snm
*.vrb
build/
out/
paper-2024-sac-marl-neighbouring-strategies.pdf
*.fdb_latexmk
paper-2024-sac-marl-neighbouring-strategies.fls
